
a{
    color: white !important;
    text-decoration: none !important;
    margin: 15px;
    margin-top: 25px;
    z-index: 999;
    position: relative;
    font-family: 'IBM Plex Sans JP', sans-serif !important;
}

body{
    background-color: #84006c !important;
    font-family: 'IBM Plex Sans JP', sans-serif !important;
}
 /* start header */
.img{
    background-image: url('../img/Group\ 13.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 60%;
    height: 500px;
    position: relative;
    border-radius: 0px 0px 30% 0
}
.img-grup{
    background-image: url('../img/Group\ 12.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: absolute;
    top: 35%;
    width: 186px;
    height: 158px;
    z-index: 999;
    left: 70%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 31.5rem;
    background-color: rgb(132 0 108 / 53%); 
    z-index: 1;
}
 header .container nav{
    display: flex;
    justify-content: space-between;
    background-color: #e5e5e596;
    position: absolute;
    width: 85%;
    margin-top: 2rem;
    border-radius: 10px;
    z-index: 999;
    top: 0%;
}
header .container .name-designs,ul{
    margin-top: 30px !important;
}
header .container ul i a:hover{
    color: rgba(0, 0, 0, 0.644) !important;
} 
header .container .name-designs{
    margin: 10px;
    margin: 10px;
    position: relative;
    z-index: 999;
}
header .container .name-designs span{

    padding: 5px;

}
header .container .name-designs span.name{
background-color: rgb(255 255 255 / 81%) ;
color: #84006c !important ;
}
header .container .name-designs span.designs{
    background-color: #84006c;
    color: white  ;
    }
.container .skills{
    position: absolute;
    top: 25%;
    left: 47.5%;
    }
.container .skills span{
background-color: rgba(100, 9, 30, 0.81);
margin-bottom: 2rem;
padding: 10px;
color: white;
z-index: 999;
position: absolute;
border-radius: 10px;
padding: 15px;
width: 165px;
display: flex;
justify-content: flex-start;
}
.container .skills span i {
    background-color: #ffffff70;
    border-radius: 50%;
    padding: 6px; 
    margin-right: 5px;
}
.container .skills span.presentations{
    /* margin-top:30px; */
    left: 320%;
}
.container .skills span.projects{
    margin-top: 55px;
}
.container .skills span.analysis{
    margin-top: 105px;
    left: 450%;
}

 /* and header */
  /* Start About */
  .about .container p{
    color: white;
    font-size: 18px;
  }
    /* And About */
    .img-about-grup{
        background-image: url('../img/Group\ 12.png');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        position: absolute;
        top: 57rem;
        width: 186px;
        height: 158px;
        z-index: 999;
        left: 70%;
    }
      .services .container .card{
    padding: 10px;
      text-align: center;
      height: 12rem;
      z-index: 9999;
}
.services .container .card h3{
    font-size: 20px;
    color: #d63484;
}
.services .container .card p{
    font-size: 18px;
    color: rgba(22, 22, 22, 0.93);
    font-family: 'IBM Plex Sans JP', sans-serif !important;

}
.partners .container h2,
.testimonials .container h2,
.services .container h2,
.about .container h2,
.auxiliary-tools .container h2{
    color: white;
    background-color: #d63484;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
}
.testimonials .container .card {
padding: 3rem;
background: linear-gradient(25deg, #d63484, #cbc9c8);
border-radius: 12px;
}
.testimonials .container .card p{
    color: white;
    font-size: 20px;
}
.testimonials .container .card span{
    color: white;
    font-size: 18px;
}
.img-recommendations-grup{
    background-image: url(../img/Group\ 10\ \(1\).svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 101rem;
    width: 75px;
    height: 180px;
    z-index: 999;
    left: 0;
}
.img-auxiliary-grup{
    background-image: url('../img/Group\ 12.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: absolute;
    top: 360%;
    width: 186px;
    height: 158px;
    z-index: -1;
    left: 77%;
}