
a{
    color: white !important;
    text-decoration: none !important;
    margin: 15px;
    margin-top: 25px;
    z-index: 999;
    position: relative;
    font-family: 'IBM Plex Sans JP', sans-serif !important;
}

body{
    background-color: #84006c !important;
    font-family: 'IBM Plex Sans JP', sans-serif !important;
}
 /* start header */
.img{
    background-image: url('../img/Group\ 13.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 500px;
    position: relative;
    border-radius: 0px 0px 30% 0
}
.img-grup{
    background-image: url('../img/Group\ 12.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: absolute;
    top: 35%;
    width: 186px;
    height: 158px;
    z-index: 999;
    left: 70%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 31.5rem;
    background-color: rgb(132 0 108 / 53%); 
    z-index: 1;
}
 header .container nav{
    display: flex;
    justify-content: space-between;
    background-color: #e5e5e596;
    position: absolute;
    width: 85%;
    margin-top: 2rem;
    border-radius: 10px;
    z-index: 999;
    top: 0%;
}
header .container .name-designs,ul{
    margin-top: 20px !important;
}
header .container ul i a:hover{
    color: rgba(0, 0, 0, 0.644) !important;
} 
header .container .name-designs{
    margin: 10px;
    margin: 10px;
    position: relative;
    z-index: 999;
}
header .container .name-designs span{
    padding: 5px;
}
header .container .name-designs span.name{
background-color: rgb(255 255 255 / 81%) ;
color: #84006c !important ;
}
header .container .name-designs span.designs{
    background-color: #84006c;
    color: white  ;
    }
.container .skills{
    position: absolute;
    top: 25%;
    left: 47.5%;
    }

.container .skills span{
background-color: rgba(100, 9, 30, 0.81);
margin-bottom: 2rem;
padding: 10px;
color: white;
z-index: 999;
position: absolute;
border-radius: 10px;
padding: 15px;
width: 165px;
display: flex;
justify-content: flex-start;
}
.container .skills span i {
    background-color: #ffffff70;
    border-radius: 50%;
    padding: 6px; 
    margin-right: 5px;
}
.container .skills span.presentations{
    /* margin-top:30px; */
    left: 320%;
}
.container .skills span.projects{
    margin-top: 55px;
}
.container .skills span.analysis{
    margin-top: 105px;
    left: 450%;
}





 /* and header */
  /* Start About */
  .about .container p{
    color: white;
    font-size: 18px;
  }
    /* And About */
    .img-about-grup{
        background-image: url('../img/Group\ 12.png');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        position: absolute;
        top: 57rem;
        width: 186px;
        height: 158px;
        z-index: 999;
        left: 70%;
    }
      .services .container .card{
    padding: 10px;
      text-align: center;
      height: 16rem;
      z-index: 9999;
      cursor: pointer;
}
.services .container .card h3{
    font-size: 20px;
    color: #d63484;
}
.services .container .card .text-card{

    color: rgba(22, 22, 22, 0.93);
    font-family: 'IBM Plex Sans JP', sans-serif !important;


}
.show{
    transition: all 1.5s ease;
    font-size: 18px;
    display: block; 
    height: 8rem;
}
.hide{
    display: none;
    
}
.partners .container h2,
.testimonials .container h2,
.services .container h2,
.about .container h2,
.auxiliary-tools .container h2{
    color: white;
    background-color: #d63484;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
}

.auxiliary-tools .row img{
   
    padding: 10px;
    border-radius: 10px;   
}
.testimonials .container .card {
padding: 3rem;
background: linear-gradient(25deg, #d63484, #608fe5);
border-radius: 12px;
}
 .card .img-card{
    width: 50%;
    margin: auto;
}
.img-card1{
    transition: all 1.5s ease;
    width: 25%;
    margin: auto; 
}
.testimonials .container .card img{
    width: 10%
}
.testimonials .container .card p{
    color: white;
    font-size: 20px;
}
.testimonials .container .card span{
    color: white;
    font-size: 18px;
}


.img-recommendations-grup{
    background-image: url(../img/Group\ 10\ \(1\).svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 101rem;
    width: 75px;
    height: 180px;
    z-index: 999;
    left: 0;
}
.img-auxiliary-grup{
    background-image: url('../img/Group\ 12.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: absolute;
    top: 360%;
    width: 186px;
    height: 158px;
    z-index: -1;
    left: 77%;
}


footer{
    background-color: #a2186f;

    
}

footer h2 {
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    font-family: cursive;
}
.img-footer-grup{
    background-image: url('../img/Ellipse\ 11.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 393%;
    width: 20%;
    height: 70%;
    z-index: -1;
    left: 0%;
}

.box{
border: 2px solid white;
border-radius: 10px;
width: 50%;
display: flex;
margin: 10px;
}
.box img{
 margin: 10px;
}
.box p{
background-color: white; 
width: 90%;
margin: 10px;
padding: 10px;
border-radius: 8px;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.5s;

}
.active{
   
    transition: all 1.5s ease;
    width: 30%;
    background-color: rgb(255, 255, 255); 
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.who-am{
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    top: 20%;
    width: 40%;
    background: #ffffffc3;
    padding: 20px;
    border-radius: 1rem; 
  
}
.who-am p{
    color: #535353;
    font-weight: 900;
}
@media  (max-width: 1024px) {
    header .container nav{
        width: 93%;
    }
    .who-am{
        top: 25%;
    }
}


@media  (max-width: 768px) {
    a{
        font-size: 12px;
    }
    header .container .name-designs{
        font-size: 12px;
    }
    .presentations,.projects,.analysis{
        font-size: 12px;
        width: 140px;
    }
    .who-am{
      font-size: 12px;
    }
    .about-imge{
        width: 100%;
    }
    .about .container p{
        font-size: 13px;
    }
    .partners .container h2,
.testimonials .container h2,
.services .container h2,
.about .container h2,
.auxiliary-tools .container h2{
    font-size: 22px;
}
.img-about-grup {
    top: 49rem
}
.logo-non,.logo-human-resources{
    width: 100%;
}
}

@media  (max-width: 426px) {

    .container .skills span,
    .img-about-grup,
    .img-grup,.img-about-grup,.img-auxiliary-grup{
        display: none;;
    }
    .who-am{
        width: 93%;
        margin-top:1rem;
    }
}